/* Codes to style analg clock */

#body {
  background-color: #c7e4f3;
  margin-top: 0;
}

.heading {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  margin-left: 1rem;
  font-family: "Arvo", serif;
}

.heading-tab {
  width: 100%;
  height: 4rem;
  background-color: #1e8ac0;
  padding-top: 8px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 #136c99;
}

#clockContainer {
  position: relative;
  top: 20px;
  margin: auto;
  height: 40vw;
  width: 40vw;
  background: no-repeat;
  background-size: 100%;
}

#clock {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 39%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

.foot {
  color: grey;
  text-align: center;
  padding-bottom: 0;
  padding-top: 10%;
}
